<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="ru.mmb.datacollector.server" version="3.0">
  <display-name>datacollector_server</display-name>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All Access</web-resource-name>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/scripts/*</url-pattern>
      <url-pattern>/unchecked/*</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure Access</web-resource-name>
      <description></description>
      <url-pattern>/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>dataserver</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>file</realm-name>
    <form-login-config>
      <form-login-page>/secure/main-form.html</form-login-page>
      <form-error-page>/secure/login-error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description></description>
    <role-name>dataserver</role-name>
  </security-role>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>