<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mmb.terminal"
    android:versionCode="10004"
    android:versionName="1.3" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.input.start.StartInputActivity" />
        <activity android:name=".activity.input.level.SelectLevelActivity" />
        <activity
            android:name=".activity.input.history.HistoryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.input.data.InputDataActivity" />
        <activity android:name=".activity.input.withdraw.WithdrawMemberActivity" />
        <activity android:name=".activity.transport.transpimport.TransportImportActivity" >
        </activity>
        <activity android:name=".activity.transport.transpexport.TransportExportActivity" >
        </activity>
        <activity android:name=".activity.settings.SettingsActivity" >
        </activity>
        <activity android:name="com.filedialog.FileDialog" >
        </activity>
    </application>

</manifest>